<?xml version="1.0" encoding="utf-8"?>
<!-- root, 패키지 이름 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.landvibe.project" >

    <!-- application : 어플리케이션 관련 설정 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <!-- activity : 꼭 선언해야함 -->
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>